.headerMain {
    margin: 0 5px 0 0;
}

.headerMain1 {
    display: flex;
}

.headerMain1 h2 {
    margin: 0;
}

.headerMain2 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
}

.headerMainText {
    width: 100%;
    text-transform: uppercase;
}

.regNumber {
    border: 1px solid black;
    padding: 0 10px 0 10px;
}

.orderNumber {
    width: 130px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.orderDate {
    width: 130px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.orderHour {
    width: 130px;
    border: 1px solid black;
}

.companyNameView {
    display: flex;
    justify-content: space-between;
}

.companyNameView1 {
    border: 1px solid black;
    width: 80%;
    margin: 5px 5px 5px 0;
}

.header21 {
    width:100%;
    display: flex;
    justify-content:space-between;
}

.header1 {
    width: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.header2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.header22 {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.header221, .header211, .header23 {
    width:25%;
    display: flex;
    justify-content: space-between;
}

.header3 {
    display: flex;
    justify-content: space-between;
    margin: 0 5px 5px 0;
}

.header31 {
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.p1, .p2 {
    margin-left: 40px;
}

.p3 {
    margin-left: 95px;
}

.agreementNumber, .companyAgreement, .startData, .stopData {
    border: 1px solid black;
    /* margin: 0 5px 0 0; */
    padding: 0 10px 0 10px;
}

.workPLace {
    border: 1px solid black;
    width: 80%;
    /* margin: 0 5px 0 0; */
}

img {
    width: 100%;
    height: auto;
}