.headerMain {
    margin: 0 5px 0 0;
}

.headerMain1 {
    display: flex;
}

.headerMain1 h2 {
    margin: 0;
}

.headerMain2 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
}

.headerMain3 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: -1px 0 0 0;
    text-align: initial;
}

.headerMainText {
    width: 100%;
    text-transform: uppercase;
}

.regNumber {
    border: 1px solid black;
    padding: 0 10px 0 10px;
}

.orderNumber {
    width: 130px;
    border: 1px solid black;
    margin: 0 0 5px 0;
}

.inputOrderNumber {
    width: 130px;
    height: 17px;
    margin: 0 0 5px 0;
}

.orderDate {
    width: 130px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.orderHour {
    width: 130px;
    border: 1px solid black;
}

.companyNameView {
    display: flex;
    align-items: center;
}

.companyNameView1 {
    border: 1px solid black;
    width: 80%;
    margin: 5px 5px 5px 0;
}

.header21 {
    width:100%;
    display: flex;
    justify-content:space-between;
}

.header1 {
    width: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.header2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.header22 {
    width:100%;
    display: flex;
    justify-content: space-around;
}

.header221, .header211, .header23 {
    width:25%;
    display: flex;
    justify-content: space-between;
}

.header3 {
    display: flex;
    margin: 0 5px 5px 0;
}

.header31 {
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.header32 {
    display: flex;
    justify-content:space-between;
    width: 70%;
}

.header4 {
    width: 30%;
    display: flex;
    align-items: center;
    margin: 0 5px 5px 0;
    justify-content:space-around
}

.header5 {
    display: flex;
    border-bottom: 1px solid black;
}

.header6 {
    display: flex;
    justify-content:flex-end;
    width: 40%;
}

.header7 {
    display: flex;
    justify-content:flex-end;
    width: 20%;
}

.header8 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header9 {
    display: flex;
    width: 80%;
}

.p1, .p2 {
    margin: 0 0 0 40px;
}

.p3 {
    margin: 0 0 0 95px;
    font-size: small;
}

.p4 {
    width: 20%;
}

.p5 {
    width: 57%;
}

.p6 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.p7 {
    width: 45%;
    border: 1px solid black;
    margin: 0 0 0 10px;
    text-align: center;
}

.p8 {
    width: 35%;
}

.p9 {
    width: 60%;
    font-size: small;
    text-align: center;
}

.p10 {
    width: 15%;
    border: 1px solid black;
    text-align: center;
}

.p11 {
    width: 25%;
    border: 1px solid black;
    text-align: center;
    margin: 0 20px 0 0;
}

.p12 {
    width: 65%;
}

.p13 {
    width: 25%;
}

.p14 {
    width: 15%;
}

.p15 {
    margin: 0 0 20px 0;
}

.p16 {
    text-transform: uppercase;
}

.p17 {
    width: 30%;
    border: 1px solid black;
    margin: 0 0 0 10px;
    text-align: center;
}

.p18 {
    width: 60%;
    border: 1px solid black;
    text-align: center;
}

.p19 {
    width: 5%;
    text-align: center;
}

.p20 {
    width: 60%;
}

.p21 {
    width: 25%;
}

.p22 {
    width: 32%;
    text-align: center;
}

.p23 {
    width: 15%;
    text-align: center;
}

.p24 {
    width: 1%;
}

.p25 {
    width: 15%;
    text-align: center;
    margin: 0 10px 0 0;
}

.p26 {
    width: 25%;
    text-align: center;
    margin: 0 10px 0 0;
}

.p27 {
    width: 10%;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px 0 0;
}

.p28 {
    width: 25%;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px 0 0;
}

.p29 {
    width: 10%;
    margin: 0 10px 0 0;
    text-align: center;
}

.p30 {
    width: 15%;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px 0 0;
}

.agreementNumber, .companyAgreement, .startData, .stopData {
    border: 1px solid black;
    padding: 0 10px 0 10px;
    width: 20%;
}

.workPLace {
    border: 1px solid black;
    width: 80%;
}

img {
    width: 100%;
    height: auto;
}

.inputView {
    outline: none; 
    border: 1px solid red;
    padding: initial;
}



.inputCompanyName {
    width: 80%;
    height: 22px;
    margin: 5px 5px 5px 0;
    text-align: center;
}
