.btnUpdate {
    width: 55px;
}

.btnSendWorkOrderList {
    display: inline-block;
}

.inputWorkOrderList {
    margin: 0;
    height: 18px;
    font-size: 15px;
    width: 130px;
}

.error {
    color: red;
}

.noError {
    color: white;
}
