/* .btnUpdate {
    width: 55px;
} */

/* .btnSendWorkOrderList {
    display: inline-block;
} */

.workOrderList h3 {
    color: brown;
}
.inputWorkOrderList {
    margin: 0;
    height: 18px;
    font-size: 15px;
    width: 130px;
}

.error {
    color: red;
}

.noErrorWorkOrderList {
    color: white;
}

.lp {
    width: 50px;
}
