.modal {
    height: 500px;
    width: 800px;
    position: fixed;
    top: 10%;
    left: 20%;
    background-color: rgb(221, 175, 175);
    overflow-y: auto;
}

.xModal {
    display: flex;
    justify-content:flex-end
}

.xModal1 {
    margin: 5px 5px 5px 0;
    width: 20px;
}

p {
    margin: 0;
}

h3 {
    margin: 5px 0 5px 0;
}

.xModal1:hover {
    cursor: pointer;
}

.checkbox {
    width: 30px;
    margin: 0;
}

.tableName {
    width: 400px;
}

.input {
    margin: 5px 0 0 5px;
    width: 200px;
}

.action {
    width: 150px;
}

table {
    border-collapse: collapse;
    margin: 5px 50px 50px 50px;
}

table th {
    border: 1px solid black;  
    height: 50px; 
    background-color: rgb(238, 194, 194);
}

table td {
    border: 1px solid black;  
    height: 50px; 
    text-align: center;
}

.error {
    color: red;
    margin: 0;
}

.noError {
    color: rgb(221, 175, 175);
    margin: 0;
}

.noErrorWorkRegisterTeam {
    color: white;
} 