.register-main {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 50px; */
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.textareaFlex {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}

.input {
    margin: 0 10px 0 0;
}

.inputDateStart {
    width: 200px;
    margin: 0 0 0 5px;
}

.inputDateEnd {
    width: 200px;
    margin: 0 0 0 5px;
}

.textAreaTeam {
    width: 203px;
}

.textAreaWork {
    width: 375px;
}

.labelTeam {
    width: 200px;
    display: inline-block;
    margin: 0 15px 0 0;
}

.label {
    width: 200px;
    display: inline-block;
    margin: 0 10px 20px 0; 
}
button {
    width: 70px;
    margin: 0 10px 0 10px;
    background-color:rgb(236, 172, 172);
    border-color: rgb(197, 137, 137);;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    background-color:rgb(197, 79, 79);
    border-color: rgb(240, 203, 203);;
}

::placeholder {
    color: red; 
}

#error {
    color: red;
    display: inline-block;
    /* margin: 0 0 0 10px; */
}

.errorWorkRegister {
    color: red;
    margin: 0 0 10px 0;
}

.noErrorWorkRegister {
    color: white;
    margin: 0 0 10px 0;
}

#save {
    color: green;
    display: inline-block;
    margin: 0 0 0 10px;
}
